


.btn {
  border-style: none;
  cursor: pointer;
  width: 200px;
  background: none;
  margin: 10px 0;
  font-size: large;
}
.btn:hover {
  color:gold;
}
.App {
  width: 1200px;
  margin: 0 auto;
}
.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.btns-group {
  display: flex;
  justify-content: center;
}
.btn {
  border-style: none;
  cursor: pointer;
  width: 200px;
  background: none;
  margin: 10px 0;
  font-size: large;
}
.btn:hover {
  color: gold;
}
.App {
  width: 1200px;
  margin: 0 auto;
}
.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.btns-group {
  display: flex;
  justify-content: center;
}
.btn {
  border-style: none;
  cursor: pointer;
  width: 200px;
  background: none;
  margin: 10px 0;
  font-size: large;
}
.btn:hover {
  color: gold;
}
.App {
  width: 1200px;
  margin: 0 auto;
}
.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.btns-group {
  display: flex;
  justify-content: center;
}